.transcript-segment {
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
}

.transcript-segment.highlighted {
  background-color: rgba(255, 100, 100, 0.5);
}

.transcript-segment:hover,
.transcript-segment[aria-selected='true'] {
  background-color: rgba(255, 200, 150, 0.5);
  border-color: #ddd;
}
